<nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Inventory Manager</a>
    
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}">{{ user.username }}</a>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>

        {% else %}
            <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
            <a class="nav-link" href="{% url 'login' %}">Login in</a>


        {% endif %}
  </nav>